<div class="container" id="maincontainer">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Password Generator</h1>
      <div class="field">
        <label for="length">Enter Length</label>
        <input class="input" id="length" type="number" min="1" max="256" (input)="onChangeLength($event.target)"
          [value]="length">
      </div>
      <div class="field">
        <div class="control">
          <label for="useletters" class="checkbox">
            <input type="checkbox" name="useletters" id="useletters" (change)="onChangeUseLetters()">
            Use Letters
          </label>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label for="usenumbers" class="checkbox">
            <input type="checkbox" name="usenumbers" id="usenumbers" (change)="onChangeUseNumbers()">
            Use Numbers
          </label>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label for="usesymbols" class="checkbox">
            <input type="checkbox" name="usesymbols" id="usesymbols" (change)="onChangeUseSymbols()">
            Use Symbols
          </label>
        </div>
      </div>
      <div class="field">
        <button [disabled]="!(length && (includeLetters || includeNumbers || includeSymbols))"
          (click)="onButtonClicked()" class="button is-link is-fullwidth">Generate</button>
      </div>
      <div class="box" *ngIf="password">
        <label for="password">Your Password</label>
        <input class="input" type="text" name="password" id="password" [value]="password" />
      </div>
    </div>
  </div>
</div>